<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sentiment Analysis</title>
        <link
          rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}"
        />
    </head>
    <body>
        <div class="container">
            <h2>Text Sentiment Analysis</h2>
            <form action="/sentiment" method="post">
                <label for="text">Enter text:</label>
                <input
                  type="text"
                  id="text"
                  name="text"
                  placeholder="Enter your text here"
                  required
                />
                <input type="submit" value="Analyse" /> 
            </form>
            {% if sentiment_textblob is not none %}
            <p>Sentiment (TextBlob): {{ sentiment_textblob }}</p>
            {% endif %}
            {% if sentiment_transformers is not none %}
            <p>Sentiment (Transformers): {{ sentiment_transformers }}</p>
            {% endif %}
            <form action="/" method="get">
                <input type="submit" value="Back to Home" />
            </form>
        </div>
    </body>
</html>